body {
 background-color: lightblue;
 color: darkblue;
 font-family: Comic Sans MS, Baskerville Old Face;
 margin: 10% 20%
   }
.exp-header {
  text-align: center;
  text-transform: uppercase;
border-top: 1px solid;
border-bottom: 1px solid;
  background-color: rgba(0,0,0, 0.1)
}
img{
/*   max-width:50%;
  max-height:50%; */
width: "300px"
}
